/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.sass */
html {
  font-family: "ff-meta-web-pro", Helvetica, sans-serif;
}

/* line 16, ../sass/screen.sass */
body {
  width: 80%;
  margin: 0 auto;
}

/* line 20, ../sass/screen.sass */
header {
  width: 28%;
  margin-right: 3%;
  padding-top: 60px;
  float: left;
  position: fixed;
}
/* line 26, ../sass/screen.sass */
header hgroup {
  padding-left: 34px;
}
/* line 28, ../sass/screen.sass */
header hgroup h1 {
  color: transparent;
  text-indent: -100000px;
  overflow: hidden;
  display: block;
  width: 200px;
  height: 64px;
  margin-left: -34px;
  background-image: url("/img/markup_logo.png");
}
/* line 37, ../sass/screen.sass */
header hgroup h2 {
  color: #888888;
  line-height: 1.2em;
}

/* line 41, ../sass/screen.sass */
nav {
  margin-top: 60px;
  padding-left: 34px;
}
/* line 44, ../sass/screen.sass */
nav a {
  -webkit-transition-property: padding-left;
  -moz-transition-property: padding-left;
  -o-transition-property: padding-left;
  transition-property: padding-left;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
/* line 47, ../sass/screen.sass */
nav a:hover {
  padding-left: 6px;
}
/* line 49, ../sass/screen.sass */
nav li {
  margin-bottom: 8px;
}
/* line 51, ../sass/screen.sass */
nav li.active a {
  color: #bb2222;
}
/* line 53, ../sass/screen.sass */
nav li.active a:hover {
  padding-left: 0;
}

/* line 56, ../sass/screen.sass */
sup {
  font-size: 0.5em;
  line-height: 0.8em;
  vertical-align: top;
}

/* line 61, ../sass/screen.sass */
a {
  color: inherit;
  text-decoration: none;
}

/* line 65, ../sass/screen.sass */
#main {
  width: 60%;
  float: left;
  margin-left: 35%;
  padding-bottom: 60px;
}
/* line 71, ../sass/screen.sass */
#main section {
  min-height: 300px;
  padding-top: 84px;
}
/* line 74, ../sass/screen.sass */
#main section img {
  max-width: 109%;
}
/* line 76, ../sass/screen.sass */
#main section img.portrait {
  max-width: 50%;
  max-height: 450px;
  float: right;
  margin: 4px 0 3% 3%;
}
/* line 81, ../sass/screen.sass */
#main section h2 {
  font-size: 36px;
  line-height: 1.1em;
  font-weight: bold;
  color: #888888;
  margin-bottom: 12px;
}
/* line 87, ../sass/screen.sass */
#main section p {
  margin-bottom: 12px;
}
/* line 90, ../sass/screen.sass */
#main section#welcome p {
  background-image: url("/img/home.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 36px 24px 24px 24px;
  color: white;
  font-size: 48px;
  font-weight: bold;
}
/* line 99, ../sass/screen.sass */
#main section#welcome p span {
  font-size: 144px;
  line-height: 0.8em;
  float: left;
  margin: 0 20px 0 0;
  border-bottom: 18px solid white;
}
/* line 105, ../sass/screen.sass */
#main section#welcome p i {
  font-style: italic;
}
/* line 107, ../sass/screen.sass */
#main section#welcome p a {
  cursor: help;
}
/* line 109, ../sass/screen.sass */
#main section#work {
  line-height: 1.3em;
}
/* line 111, ../sass/screen.sass */
#main section#work h2 {
  margin-bottom: -24px;
}
/* line 113, ../sass/screen.sass */
#main section#work article {
  margin-top: 24px;
  margin-bottom: 48px;
  color: #6f6f6f;
}
/* line 117, ../sass/screen.sass */
#main section#work article a {
  color: black;
}
/* line 119, ../sass/screen.sass */
#main section#work article a:hover {
  text-decoration: underline;
}
/* line 121, ../sass/screen.sass */
#main section#work article h3 {
  font-weight: bold;
  margin-top: -18px;
}
/* line 124, ../sass/screen.sass */
#main section#work article img {
  margin-left: -4.5%;
}
/* line 126, ../sass/screen.sass */
#main section#about, #main section#contact {
  line-height: 1.3em;
}

/* line 130, ../sass/screen.sass */
form label {
  font-style: italic;
  color: #888888;
  margin-top: 18px;
  display: inline-block;
}
/* line 135, ../sass/screen.sass */
form p {
  width: 48%;
  margin-right: 4%;
  float: left;
}
/* line 139, ../sass/screen.sass */
form p:last-of-type {
  margin-right: 0;
}
/* line 141, ../sass/screen.sass */
form p label {
  display: none;
}
/* line 143, ../sass/screen.sass */
form p label.visible {
  display: inline;
}
/* line 145, ../sass/screen.sass */
form input {
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}
/* line 148, ../sass/screen.sass */
form input[type="text"], form input[type="email"] {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d5d5d5;
  color: black;
  padding: 0;
}
/* line 155, ../sass/screen.sass */
form input[type="text"]:focus, form input[type="email"]:focus {
  outline: none;
  border-bottom: 1px solid #888888;
}
/* line 158, ../sass/screen.sass */
form input[type="text"]::-webkit-input-placeholder, form input[type="email"]::-webkit-input-placeholder {
  color: #888888;
  font-style: italic;
}
/* line 161, ../sass/screen.sass */
form input[type="text"]:-moz-placeholder, form input[type="email"]:-moz-placeholder {
  color: #888888;
  font-style: italic;
}
/* line 164, ../sass/screen.sass */
form input[type="submit"] {
  float: right;
  font-size: 1.2em;
}
/* line 167, ../sass/screen.sass */
form fieldset {
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
/* line 171, ../sass/screen.sass */
form fieldset.wide p {
  width: 100%;
  float: none;
  margin: 12px 0 0;
}
/* line 175, ../sass/screen.sass */
form fieldset input {
  clear: left;
}
/* line 177, ../sass/screen.sass */
form textarea {
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  border: 1px solid #d5d5d5;
  padding: 2%;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}
/* line 185, ../sass/screen.sass */
form textarea:focus {
  outline: none;
  border: 1px solid #888888;
}
/* line 188, ../sass/screen.sass */
form textarea::-webkit-input-placeholder {
  color: #888888;
  font-style: italic;
}
/* line 191, ../sass/screen.sass */
form textarea:-moz-placeholder {
  color: #888888;
  font-style: italic;
}

/* line 195, ../sass/screen.sass */
footer {
  float: left;
  margin-top: 370px;
  padding-left: 34px;
  color: #888888;
  font-size: 12px;
  font-style: italic;
  position: fixed;
}
